@model TaskMangmentSYS.Models.RegisterViewModel

@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>

    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/addTask.css">
</head>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h1>Register</h1>
    <fieldset>
        @Html.AntiForgeryToken()
        <legend><span class="number">1</span>Info</legend>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <hr />
        <label for="name" class="labelTask">Email</label>
        @Html.EditorFor(model => model.Email, new { id = "name", name = "user_name" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        <label for="name" class="labelTask">Password</label>
        @Html.EditorFor(model => model.Password, new { id = "name", name = "user_name" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        <label for="name" class="labelTask">Confirm Password</label>
        @Html.EditorFor(model => model.ConfirmPassword, new { id = "name", name = "user_name" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        <div>
            <button type="submit">Register</button>
        </div>
    </fieldset>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
